[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
flask = "*"
pymongo = "*"
pymysql = "*"
pytz = "*"
redis = "*"
flask-sqlalchemy = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
